.crystal {
  text-align: center;
}

.crystal-info {
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 0.7em;
}

.crystal-reset {
  background: none;
  border: none;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 110px;
  font-size: 1.5em;
}

.crystal-answer {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  padding: 1em;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  font-size: 2em;
  font-weight: bold;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(119, 119, 119, 0.9);
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  box-shadow:
    inset 0px 0px 100px rgba(255, 255, 255, 0.9),
    0px 5px 10px rgba(0, 0, 0, 0.5),
    inset 0px -15px 50px #000;
}

.crystal-answer:hover {
  color: #FFF;
}

.crystal-border {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition: 5s;
  -webkit-transition: 5s;
  -moz-transition: 5s;
}
